{% extends 'common/user/master.html' %}

{% load static %}


{% block title %}
<title>Chefs</title>
{% endblock title %}


{% block body %}
<!-- Chefs Section -->
<section id="chefs" class="chefs section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>chefs</h2>
    <p><span>Our</span> <span class="description-title">Proffesional Chefs<br></span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">


      {% for chef in chefs %}
      <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <div class="member-img">
            <img src="/{{chef.chef_image}}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>{{chef.chef_name}}</h4>
            <span>{{chef.chef_type}}</span>
            <p>
              {{chef.chef_details}}
            </p>
          </div>
        </div>
      </div><!-- End Chef Team Member -->
      {% endfor %}




    </div>

  </div>

</section><!-- /Chefs Section -->
{% endblock body %}