{% extends 'common/user/master.html' %}

{% load static %}


{% block title %}
<title>Events</title>
{% endblock title %}


{% block body %}
<!-- Events Section -->
<section id="events" class="events section">

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
      <div class="swiper-wrapper">


        {% for event in events %}
        <div class="swiper-slide event-item d-flex flex-column justify-content-end"
          style="background-image: url('/{{event.event_image}}')">
          <h3>{{event.event_name}}</h3>
          <div class="price align-self-start">${{event.event_price}}</div>
          <p class="description">
            {{event.event_description}}
          </p>
        </div>
        {% endfor %}
        <!-- End Event item -->



      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</section><!-- /Events Section -->
{% endblock body %}