{% extends 'common/user/master.html' %}

{% load static %}


{% block title %}
<title>Menu</title>
{% endblock title %}


{% block body %}
<!-- Menu Section -->
<section id="menu" class="menu section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Menu</h2>
    <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

      <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
          <h4>Starters</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
          <h4>Breakfast</h4>
        </a><!-- End tab nav item -->

      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
          <h4>Lunch</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
          <h4>Dinner</h4>
        </a>
      </li><!-- End tab nav item -->

    </ul>

    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

      <div class="tab-pane fade active show" id="menu-starters">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Starters</h3>
          <div class="row gy-5">
            
            {% for food in foods %}
            <div class="col-lg-4 menu-item">
              <a href="/{{food.food_image}}" class="glightbox">
                <img src="/{{food.food_image}}" class="menu-img img-fluid" alt=""></a>
              <h4>{{food.food_name}}</h4>
              <p class="ingredients">
                {{food.food_ingredients}}
              </p>
              <p class="price">
                ${{food.food_price}}
              </p>
            </div>
            {% endfor %}
              <!-- Menu Item -->
          </div>
        </div>

      </div><!-- End Starter Menu Content -->

      <div class="tab-pane fade" id="menu-breakfast">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Breakfast</h3>
        </div>

      </div><!-- End Breakfast Menu Content -->

      <div class="tab-pane fade" id="menu-lunch">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Lunch</h3>
        </div>

      </div><!-- End Lunch Menu Content -->

      <div class="tab-pane fade" id="menu-dinner">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Dinner</h3>
        </div>

      </div><!-- End Dinner Menu Content -->

    </div>

  </div>

</section><!-- /Menu Section -->
{% endblock body %}